/nbproject/private/
/vendor/*
/application/configs/env.php
/application/assets/images/sprites/*.png
/public/assets/css/*
/public/assets/scripts/*
/public/shared/var/*
/var/log/*
/var/cache/*
/var/tmp/*
!.gitkeep
node_modules
dist
