nbproject/private/
.idea/workspace.xml
vendor/*
application/configs/env.php
public/images/sprites/*.png
public/css/*.css
public/shared/var/*
var/log/*
var/cache/*
var/tmp/*
!.gitkeep
node_modules
dist
