<?php
/**
 * ModernWeb
 *
 * LICENSE
 *
 * This source file is subject to the new BSD license that is bundled
 * with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.modernweb.pl/license/new-bsd
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to kontakt@modernweb.pl so we can send you a copy immediately.
 *
 * @category    Modern
 * @package     Modern_Application
 * @author      Rafał Gałka <rafal@modernweb.pl>
 * @copyright   Copyright (c) 2007-2011 ModernWeb (http://www.modernweb.pl)
 * @license     http://www.modernweb.pl/license/new-bsd     New BSD License
 */

/**
 * Environment definition and base system paths.
 *
 * @category    Modern
 * @package     Modern_Application
 * @author      Rafał Gałka <rafal@modernweb.pl>
 * @copyright   Copyright (c) 2007-2011 ModernWeb (http://www.modernweb.pl)
 */
error_reporting(E_ALL | E_STRICT);

define('ENVIRONMENT', 'production');

define('ROOT_PATH', realpath(dirname(__FILE__) . '/../../'));
define('LIBRARY_PATH', ROOT_PATH . '/library');
define('APPLICATION_PATH', ROOT_PATH . '/app');

require ROOT_PATH . '/vendor/autoload.php';
